extends layout

block head
  meta(HTTP-EQUIV="refresh", CONTENT="3;URL=http://www.jonathanysp.com")

block content
  p The Brown Log is under construction, check back soon!
  p You will be redirected to my personal site in 3 seconds, or click <a href="http://jonathanysp.com">here</a>